// @import 'styles/shared';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  // color: $black;
  // background-color: $white;
  /* font-family: $primary-font; */
  // line-height: 1.5;
  font-style: normal;
}
/* address {
  font-style: normal;
} */
img {
  display: block;
  // max-width: 100%;
  // height: auto;
}
button {
  height: 40px;
  width: 70px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
a {
  color: #007bff;
}
.content {
  padding: 0 20px;
}
