.button {
  margin: 20px 0;
}
.movieDetail {
  display: flex;
  border-bottom: 1px solid lightgray;
}
.poster {
  padding-bottom: 20px;
  &__image {
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px hsla(240, 30%, 28%, 0.25),
      0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  }
}
.movieInfo {
  padding-left: 20px;
  &__score,
  &__overview,
  &__genres {
    padding: 10px 0;
  }
}
.additional {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  &__title {
    padding-bottom: 10px;
  }
  &__list {
    padding-left: 20px;
  }
}
