.IconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: white;
  font: inherit;
  background-color: white;
  cursor: pointer;
}
